body {
    /* background-color:rgb(210, 232, 186); */
    background-image: url(../public/background.jpg);
    background-size: 4000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 { grid-area: logo; border-style: solid; text-align: center;}
.item2 { grid-area: filter; border-style: solid; word-wrap: break-word; width: 10rem; padding: 1rem}
.item3 { 
    grid-area: results;
    border-style: solid;
    
}
.item4 { grid-area: footer; border-style: solid;}

.grid-container {
    display:grid;
    grid-template-areas: 
        'logo logo logo logo'
        'filter results results results'
        'filter results results results'
        'footer footer footer footer';
    gap: 10px;
    padding: 10px;
    background-color: white;
    


}

/* Search Items */
.grid-item {
    
    width: 120px;
    height: 200px;
    margin: 10px;
    text-align: center;
    padding-bottom: 10px;
    
}
.searchResults {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.grid-item>strong {
    font-size:x-small;    
}


